*{
    padding: 0;
    margin: 0;
}
div{
    display: flex;
    justify-content: center;
    flex-shrink: 1;
}
body{
    box-sizing: border-box;
    background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
}
h1{
    text-align: center;
    background-color: #264653;
    padding: 30px;
    margin-bottom: 10px;
    color: #f4a261;
    font-size: 60px;
}
#nav{
    background-color: #83c5be;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
}
button {
    padding: 2px;
    background-color: #023047;
    color:#e9c46a; 
    font-size: 20px;
    border: 2 solid;
    border-radius: 5px;
}
button:hover{
    color: #83c5be;
    cursor: pointer;
}
button:active{
    color:#e9c46a; 
    background-color: #023047b0;
}
#array{
    width: 1000px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: bottom;
    margin: auto;
}
@media (max-width:500px){
    #nav{
        display: flex;
        flex-direction: column;
    }
    #array{
        width:60% ;
        height: 550px;

}
    #range{
        display:flex;
        flex-direction:column;
    }
}
